<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:layout name="Default" />

	<f:section name="main">

		<v:variable.set name="showPid" value="{v:variable.typoscript(path: 'plugin.tx_hiveexthistory_hivehistoryshowhistory.persistence.storagePid')}" />
		<v:variable.set name="itemsPerPage" value="{v:variable.typoscript(path: 'plugin.tx_hiveexthistory.settings.production.list.itemsPerPage')}" />
		<v:variable.set name="maximumNumberOfLinks" value="{v:variable.typoscript(path: 'plugin.tx_hiveexthistory.settings.production.list.maximumNumberOfLinks')}" />


		<div class="history--list">
			<div class="row">
				<f:if condition="({aSettings.oHiveExtHistory.main.disablePagination} == '0') && ({oHistories -> f:count()} > {itemsPerPage})">
					<f:then>
						<f:widget.paginate objects="{oHistories}" as="oObjectsPaginated"
										   configuration="{itemsPerPage: itemsPerPage, maximumNumberOfLinks: maximumNumberOfLinks}">
							<f:for each="{oObjectsPaginated}" as="history">
								<f:render partial="History/listHistory" arguments="{history:history, showPid:showPid, aSettings: aSettings}" />
							</f:for>
						</f:widget.paginate>
					</f:then>
					<f:else>
						<f:for each="{oHistories}" as="history">
							<f:render partial="History/listHistory" arguments="{history:history, showPid:showPid, aSettings: aSettings}" />
						</f:for>
					</f:else>
				</f:if>
			</div>
		</div>
	</f:section>
</div>