<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:hiveCptCntCssslider="http://typo3.org/ns/HIVE/HiveCptCntCssslider/ViewHelpers">

    <f:layout name="Default" />

    <f:section name="main">
        <hiveCptCntCssslider:csssjslider aSlides="{aSlides}" sUniqueIdentifier="{iPluginUid}" aClasses="{0: '1', 1: '1', 2: '2', 3: '3', 4: '4'}" aNavLabelsOverrides="{aNavLabelsOverrides}"/>
    </f:section>
</div>