.tx-hive-ext-history {
  ul.f3-widget-paginator {
    li.previous a {
      color:transparent;
    }
    li.next a {
      color:transparent;
    }
  }

  .csssjs--vh {

    .card {
      border: none;
    }

  }


}