<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:hive="http://typo3.org/ns/HIVE/HiveCptCntImg/ViewHelpers">

    <f:if condition="{history.image}">
        <div class="col-md-6 history--image">
            <hive:cptCntImg uid="{history.image.uid}"></hive:cptCntImg>
        </div>
    </f:if>
    <div class="{f:if(condition: '{history.image}', then: 'col-md-6', else: 'col-md-12')} history--content">

        <f:if condition="{history.image}">
            <hive:cptCntImg uid="{history.image.uid}"></hive:cptCntImg>
        </f:if>
        <div class="card-body">
            <f:if condition="{aSettings.oHiveExtHistory.main.disableDate} == '1'">
                <f:else>
                    <f:format.date format="Y">{history.date}</f:format.date>
                </f:else>
            </f:if>

            <f:if condition="{aSettings.oHiveExtHistory.main.disableTitle} == '1'">
                <f:else>
                    <f:if condition="{history.title} !=''">
                        <h5 class="card-title">{history.title}</h5>
                    </f:if>
                </f:else>
            </f:if>

            <f:if condition="{aSettings.oHiveExtHistory.main.disableSubtitle} == '1'">
                <f:else>
                    <f:if condition="{history.subtitle} !=''">
                        <h6 class="card-subtitle">{history.subtitle}</h6>
                    </f:if>
                </f:else>
            </f:if>

            <f:if condition="{aSettings.oHiveExtHistory.main.disableText} == '1'">
                <f:else>
                    <f:format.html>{history.text}</f:format.html>
                </f:else>
            </f:if>

        <f:if condition="{history.detailtext}">
            <f:link.action action="show" pluginName="hivehistoryshowhistory" controller="History"
                           pageUid="{showPid}"
                           arguments="{history : history}"
                           class="btn {additionalBtnClasses} history--btn">
                <f:translate key="LLL:EXT:hive_ext_history/Resources/Private/Language/translation.xlf:tx_hiveexthistory_domain_model_history.label.readmore" />
            </f:link.action>
        </f:if>
    </div>
</html>