<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:hive="http://typo3.org/ns/HIVE/HiveCptCntImg/ViewHelpers">

    <div class="col-md-4 history--image">
        <hive:cptCntImg uid="{history.image.uid}"></hive:cptCntImg>
    </div>
    <div class="col-md-8 history--content">

        <f:format.html>{history.title}</f:format.html>
        <f:format.html>{history.subtitle}</f:format.html>
        <f:format.html>{history.detailtext}</f:format.html>

        <f:link.action action="show" pluginName="hivehistoryshowhistory" controller="History"
                       pageUid="{listPid}"
                       arguments="{history : history}"
                       class="btn history--btn">
            <f:translate key="LLL:EXT:hive_ext_history/Resources/Private/Language/translation.xlf:tx_hiveexthistory_domain_model_history.label.back" />
        </f:link.action>
    </div>
</html>